$width: 70ch;
$padding: 2ch;

// Set the font to be monospaced
* {
  font-family: Monospace;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

// Derived from https://jrl.ninja/etc/1/
html {
  height: calc(100% - 2*#{$padding}); // Adjust height for additional padding
  max-width: $width;
  padding: $padding;
  margin: auto;
  font-size: 1.2em;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
}

section {
  padding-top: $padding;
}

h1 {
  color: var(--secondary-color);
}

h2 {
  padding-top: calc(#{$padding} / 2);
}

a {
  color: var(--primary-color);
}

// Make the footer sticky
footer {
  padding-top: $padding;
  width: 100%;
  max-width: $width;
  text-align: center;
}

.content {
  min-height: 100%;
  // equal to footer height
  margin-bottom: -65px;
}

.content:after {
  content: "";
  display: block;
}

footer,
.content:after {
  height: 65px;
}

.icon {
  width: 20px;
}

@media only screen and (max-width: 600px) {
  .icon {
    width: 48px;
  }
}
