<mat-toolbar class="toolbar" color="primary">
    <span class="logo_container">
        <a routerLink="/home">
            <img class="logo_image" src="../assets/D20.svg" alt="D20" width="100" />
        </a>
    </span>

    <span class="small-space"></span>

    <span class="title">
        <h1 style="display: inline">
            <span>Sam Vendittelli</span>
        </h1>
        <span style="display:inline-block; width: 1em;"></span>
        <h2 style="display: inline">
            <span>Scrum Master | Developer</span>
        </h2>
    </span>

    <span class="fill-remaining-space"></span>

    <span>
        <nav class="routing">
            <a mat-raised-button routerLink="/home">Home</a>
            <a mat-raised-button routerLink="/about">About</a>
            <a mat-raised-button routerLink="/contact">Contact</a>
        </nav>
    </span>
</mat-toolbar>