.logo_container {
    margin: 10px 0px;
}

.toolbar {
    height: 100%;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.small-space {
    width: 20px;
}

.mat-raised-button {
    margin: 0px 2px;
}
