<div>
	<a routerLink="/home">
		<img id="logo" src="../assets/D20.svg" alt="D20" width="100"/>
	
		<span style="display:inline-block; width: 2em;"></span>

		<span id="name">
			<h1 style="display: inline"><span typingAnimation [typeSpeed]="40" [startDelay]="2000" [hideCursorOnComplete]="true" (complete)="onComplete()">Sam Vendittelli</span></h1>
			<span style="display:inline-block; width: 1em;"></span>
			<h2 style="display: inline"><span typingAnimation [typeSpeed]="40" [condition]="beginTypingSubtitle">Scrum Master | Developer</span></h2>
		</span>
	</a>

	<nav id="routing">
		<a routerLink="/home">Home</a>
		<a routerLink="/about">About</a>
		<a routerLink="/contact">Contact</a>
	</nav>
</div>

<hr>

<router-outlet></router-outlet>
