<footer>
    <div class="container">
        <div id="social">
            <a href="mailto:sam.vendittelli@hotmail.com" target="_blank">
                <img src="/assets/social/icon-at.svg" width="20px" />
            </a>
            <a href="https://www.linkedin.com/in/sam-vendittelli" target="_blank">
                <img src="/assets/social/icon-linkedin.svg" width="20px" />
            </a>
            <a href="https://github.com/SVendittelli" target="_blank">
                <img src="/assets/social/icon-github.svg" width="20px" />
            </a>
            <a href="https://www.facebook.com/Sam.Vendittelli" target="_blank">
                <img src="/assets/social/icon-facebook.svg" width="20px" />
            </a>
            <a href="https://twitter.com/Vendittelli" target="_blank">
                <img src="/assets/social/icon-twitter.svg" width="20px" />
            </a>
        </div>
        <div id="attribution">
            Copyright &copy; {{ today | date: 'yyyy' }} Sam Vendittelli. Code licensed under
            <a href="https://github.com/SVendittelli/personal-website-ui/blob/master/LICENSE">MIT</a>.
        </div>
    </div>
</footer>